.five-day-cards {
    display: grid;
    grid-auto-flow: column;
    grid-row: 1;
    gap: 15px;
    width: 100%;    
}

.daily-card {
    border-radius: 1px;
    border: 2px solid grey;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px lightgray;
    width: 11vw;
    text-align: center;

}

.wind {
    font-size: 12px;
}