<h3>8 Day Forcast</h3>
<div class="five-day-cards">
    <div class="daily-card" *ngFor="let day of weather?.daily">
        <div class="temp">High: {{day.temp.max}}</div>
        <div *ngFor="let weather of day?.weather">
            <img 
                src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png"
                alt="Current weather icon"
            >
            <div>{{weather.description}}</div>
        </div>
        <div class="temp">Low: {{day.temp.min}}</div>
        <div class="wind">Wind Speed: {{day.wind_speed}}</div>
    </div>
</div>

<!-- comment
line 2
 -->