<form [formGroup]="formGroup" (ngSubmit)="getCoords()">

    <mat-form-field appearance="fill">
        <mat-label for="searchByOption">Search by: </mat-label>
        <mat-select formControlName="searchByOption">
            <mat-option *ngFor="let item of searchBy" [value]="item" >{{item}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{selectedSearchOption}}</mat-label>
        <input matInput type="text" id="citySearch" formControlName="citySearch">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" >Search</button>
</form>
<app-today-weather [weather]="searchedWeather" [coordinates]="coordinates"></app-today-weather>
<app-five-day [weather]="searchedWeather"></app-five-day>