<form [formGroup]="formGroup" (ngSubmit)="getCoords()">
    <label for="searchByOption">Search by: </label>
    <select formControlName="searchByOption">
        <option *ngFor="let item of searchBy" [value]="item" >{{item}}</option>
    </select>
    <label for="citySearch">{{selectedSearchOption}}: </label>
    <input type="text" id="citySearch" formControlName="citySearch">
    <button type="submit" >Search</button>
</form>
<app-today-weather [weather]="searchedWeather" [coordinates]="coordinates"></app-today-weather>
<app-five-day [weather]="searchedWeather"></app-five-day>